.example-another {
  background-color: aliceblue;
  margin: 20px; }
  .example-another p {
    color: brown;
    font-weight: bold;
    padding: 10px; }

.example {
  background-color: lightyellow;
  margin: 20px; }
  .example p {
    color: purple;
    font-weight: normal;
    padding: 10px; }

body {
  background-color: #eee; }
